.private {
  display: inline-flex;
  font-weight: 400;
  line-height: 1.71;
  color: $primary-text-color;
}

.conditions {
  line-height: 1.71;
  color: $accent-color;
  text-decoration: underline;
}

.button-send {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  margin-top: 30px;
  padding: 10px 55px;
  color: #ffffff;
  background-color: $accent-color;
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: #188ce8$secondary-btn-color;
  }
}
