.checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  position: absolute;
}

.field {
  justify-content: center;
  display: flex;
  align-items: center;
}

.checkbox__icon {
  display: inline-block;
  width: 16px;
  height: 15px;
  border: 2px solid $title-text-color;
  border-radius: 4px;
}

.checkbox:checked + .checkbox__icon {
  border-color: $accent-color;
  background-color: $accent-color;
}

.checkbox__image {
  transform: translate(-120%);
}
